.header {
    background-color: #e10600;
}
.item {
    font-family: f1font;
    color: #fcfcfd;
}

.spaced {
    margin-left: 1rem;
}

.constru {
    background: #343a41;
    color: #fcfcfd !important;
    font-size: 14px;
    padding: 5px;
    border-radius: 6px;
    cursor: pointer;
}
