<div class="row d-flex w-100 header">
    <div class="col-4 d-flex" (click)="goHome()" style="cursor: pointer;">
        <img class="py-3 px-2" src="../../../../assets/fonts/f1.svg">
        <h2 class="d-flex align-items-center pt-3">Companion</h2>
    </div>
    <div class="col-4 d-flex flex-row">
        <p-autoComplete [size]="100" inputStyleClass="cstm-input" [placeholder]="'Look for a driver'"
            [(ngModel)]="selectedItem" (onSelect)="selected($event)" (completeMethod)="search($event)"
            [suggestions]="optionFiltered" field="label">
            <ng-template let-driver pTemplate="item" class="item">
                <span>{{driver.label}}</span>
                <span class="spaced fi fi-{{ getFlag(driver.nationality) }}"></span>
                <span class="spaced">-</span>
                <span class="spaced">{{ driver.permanentNumner }}</span>
            </ng-template>
        </p-autoComplete>
        <span class="my-3  px-2 constru" routerLink="/Constructors">Constructors</span>
    </div>
    <div class="col-4 d-flex justify-content-end" style="padding-right: 2rem;">
        <span style="margin-top: 1.2rem;" class="px-2">Change season</span>
        <p-dropdown class="ml-2" [options]="seasons" placeholder="2023" (onChange)="onChange($event)"></p-dropdown>
    </div>
</div>
