<div class="h-100 w-100 page">
    <div class="header w-100">
        <app-header-bar (seasonChange)="seasonChanged($event)"></app-header-bar>
    </div>
    <div class="h-100 w-100 px-4 py-4 page" style="margin-top :4rem;">
        <div class="row w-100 d-flex flex-fill">
            <div class="col-4 d-flex flex-fill maxed">
                <app-drivers-list [currRace]="currentSeason"></app-drivers-list>
            </div>
            <div class="col-8 d-flex flex-fill">
                <app-last-race [currRace]="currentSeason"></app-last-race>
            </div>
        </div>
    </div>
</div>
