<div>
    <div class="custom-panel px-4">
        <div class="row header mb-4 pb-4" *ngIf="driverList$ | async as drivers; else loading">
            <h2>Drivers for {{drivers.MRData.DriverTable.season}}</h2>
            <span class="accent">FIA F1 world championship</span>
        </div>
        <ng-template #loading>
            <div class="d-flex flex-column justify-content-start skeleton">
                <div class="row header mb-4 pb-4">
                    <h2>Drivers for season</h2>
                    <span class="accent">FIA F1 world championship</span>
                </div>
            </div>
        </ng-template>
        <div class="row pt-4 maxed" *ngIf="driverList$ | async as drivers else loading2">
            <div class="d-flex flex-row pb-3 align-items-center row"
                *ngFor="let driver of drivers.MRData.DriverTable.Drivers">
                <div style="position: relative;" (click)="selected(driver.driverId)" class="col-12 driver-row py-2">
                    <span class="tag" style="background-color: #c4c4c4">I</span>
                    <span class="mx-4">{{ driver.givenName }} {{ driver.familyName }}</span>
                    <span class="float-end"> n°{{driver.permanentNumber}} </span>
                </div>
            </div>
        </div>
        <ng-template #loading2>
            <div class="d-flex flex-column justify-content-start skeleton mt-4">
                    <p-skeleton width="40rem" height="2rem" styleClass="mb-3"></p-skeleton>
                    <p-skeleton width="40rem" height="2rem" styleClass="mb-3"></p-skeleton>
                    <p-skeleton width="40rem" height="2rem" styleClass="mb-3"></p-skeleton>
                    <p-skeleton width="40rem" height="2rem" styleClass="mb-3"></p-skeleton>
                    <p-skeleton width="40rem" height="2rem" styleClass="mb-3"></p-skeleton>
                    <p-skeleton width="40rem" height="2rem" styleClass="mb-3"></p-skeleton>
                    <p-skeleton width="40rem" height="2rem" styleClass="mb-3"></p-skeleton>
                    <p-skeleton width="40rem" height="2rem" styleClass="mb-3"></p-skeleton>
                    <p-skeleton width="40rem" height="2rem" styleClass="mb-3"></p-skeleton>
                    <p-skeleton width="40rem" height="2rem" styleClass="mb-3"></p-skeleton>
                    <p-skeleton width="40rem" height="2rem" styleClass="mb-3"></p-skeleton>
                    <p-skeleton width="40rem" height="2rem" styleClass="mb-3"></p-skeleton>
                    <p-skeleton width="40rem" height="2rem" styleClass="mb-3"></p-skeleton>
                    <p-skeleton width="40rem" height="2rem" styleClass="mb-3"></p-skeleton>
                    <p-skeleton width="40rem" height="2rem" styleClass="mb-3"></p-skeleton>
                    <p-skeleton width="40rem" height="2rem" styleClass="mb-3"></p-skeleton>
                    <p-skeleton width="40rem" height="2rem" styleClass="mb-3"></p-skeleton>
                    <p-skeleton width="40rem" height="2rem" styleClass="mb-3"></p-skeleton>
                    <p-skeleton width="40rem" height="2rem" styleClass="mb-3"></p-skeleton>
                    <p-skeleton width="40rem" height="2rem" styleClass="mb-3"></p-skeleton>
                    <p-skeleton width="40rem" height="2rem" styleClass="mb-3"></p-skeleton>
            </div>
        </ng-template>
    </div>
</div>